@model TAO_CSV_v06.Models.DailyRead

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyRead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Col_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col_30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col_30)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
