<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .mynb_navbar {
            overflow: hidden;
            background-color: #333;
        }

            .mynb_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .mynb_dropdown {
            float: left;
            overflow: hidden;
        }

            .mynb_dropdown .mynb_dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .mynb_navbar a:hover, .mynb_dropdown:hover .mynb_dropbtn {
                background-color: red;
            }

        .mynb_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .mynb_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .mynb_dropdown-content a:hover {
                    background-color: #ddd;
                }

        .mynb_dropdown:hover .mynb_dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="mynb_navbar">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Book", "Create", "Bookings")
                @Html.ActionLink("Contact", "Mailer", "SendMailer")
                @Html.ActionLink("Tilskudsberegner", "Tilskudsberegner", "Home")
                @Html.ActionLink("Data Finder", "DataReads", "Home")
                <div class="mynb_dropdown">
                    <button class="mynb_dropbtn">
                        Data Tables
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynb_dropdown-content">
                        @Html.ActionLink("Hourly Reads", "Index", "HourlyReads")
                        @Html.ActionLink("Daily Reads", "Index", "DailyReads")
                    </div>
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="google_translate_element" style="float: right"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>